.container-users {
    height: 80vh;
}
.list-user{
    overflow-y: scroll;
    max-height: 75vh;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}