.container-users {
    height: 80vh;
}
.list-user{
    overflow-y: auto;
    max-height: 90%;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}

.user-select:hover{
    cursor: pointer;
}

.img-chat{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}