<div
  class="bg-light-pink container-chat p-3 text-white rounded"
  *ngIf="userSelectedToSend"
>
  <div class="d-flex flex-row justify-content-around">
    <img
      src="../../../../../assets/img/back-arrow.png"
      alt="back-arrow"
      class="img-round shadow mx-3"
      title="Regresar"
      (click)="resetPrivateChat()"
    />
    <h2 class="text-center" *ngIf="title">{{ title }}</h2>
    <img
      [src]="userSelectedToSend.photoURL"
      [alt]="userSelectedToSend.name"
      class="img-round shadow mx-3"
    />
  </div>

  <div class="container-msg" id="containerMessage">
    <p
      [ngClass]="{
        local: message.isEmitter,
        remote: !message.isEmitter
      }"
      class="local"
      *ngFor="let message of messages"
    >
      {{ message.msg }}<br />

      <span class="detail-msg">
        Enviado a las {{ message.date }}
        <img
          *ngIf="message.isEmitter"
          class="img-chat"
          [src]="currentUser.photoURL" />
        <img
          *ngIf="!message.isEmitter"
          class="img-chat"
          [src]="message.from.photoURL"/>
        </span>
    </p>
  </div>

  <form [formGroup]="formMsg" (ngSubmit)="onSubmit($event)">
    <div class="d-flex flex-row justify-content-between mt-2">
      <input
        type="text"
        placeholder="Escribe tu mensaje"
        class="input-msg"
        formControlName="msg"
      />
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formMsg.invalid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
