
.container-header{
    width: 100%;
}

.title{
    width: max-content;
}

.menu{
    width: max-content;
}

.btn-primary{
    background-color: #876161 !important;
    border-color: #876161 !important;
}