.container-chat {
    height: 80vh;
}

.local {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  max-width: 80%;
  color: black;
  font-size: 17px;
  align-self: flex-end;
}

.remote {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    max-width: 80%;
    color: black;
    font-size: 17px;
    align-self: flex-start;
}

.btn-primary{
    background-color: #876161 !important;
    border-color: #876161 !important;
    height: 50px;
    width: 100%;
}

.inputContainer {
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
}

.containerMessage {
    height: 65vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

