

.btn-primary{
    background-color: #876161 !important;
    border-color: #876161 !important;
    height: 50px;
    width: 100%;
}

.inputContainer {
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
}

.containerMessage {
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
